<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注销</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">

    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <!-- ace styles -->
    <link rel="stylesheet" href="../public/css/ace.min.css">
    <link rel="stylesheet" href="../public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="../public/css/ace-skins.min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ace-ie.min.css" />
    <![endif]-->


    <script language="JavaScript" src="../public/js/bootstrap.min.js"></script>

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="../public/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {ace.settings.check('navbar','fixed')}catch (e) {}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="icon-leaf">
                        中医妇产科临床流调数据中心
                    </i>
                </small>
            </a>
        </div>
    </div>
</div>

<div class="container">

    <h1>感谢使用本系统</h1>
    <a href="/">重新登录</a>
    </hr>
</div>

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='../public/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='../publicjs/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="../public/js/ace-elements.min.js"></script>
<script src="../public/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + ""));
</script>
</body>
</html>